@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.box {
  width: 300px;
  height: 400px;
  background-color: #d2b48c;
  border: 2px solid #8b4513;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.powder-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.powder {
  background-color: #7b3f00;
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.control-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="number"],
input[type="range"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 200px;
}

input[type="range"] {
  width: 200px;
}

.result {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}

.about {
  margin-top: 40px;
  margin-bottom: 0;
}